/*----------Colors----------*/
$primery-color: #93014A;
$primery-color-variation01: #b10b5e;
$primery-color-variation02: #b10b5e12;
$dark-color: #2C2C2C;
$gray-color: #4B4B4B;
$medium-gray-color01: #E6E6E6;
$medium-color02: #D9D9D9;
$medium-color03: #B6B6B6;
$light-gray-color: #F4F4F4;
$white-color: #fff;

/*----------Max width----------*/
$container-width:1440px;

$container-margin:70px 0;